.body-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
}

.container-contaco-1{
    width: 40%;
    display: block;
    margin-right: 25px;
}

.container-contaco-1 h1{
   font-size: 36px;
   color: #2D2E33;
}

.container-contaco-1 h3{
    margin-top: 40px;
    font-size: 24px;
    color: #2D2E33;
 }

.container-contacto-2{
    width: 40%;
    display: block;
    margin-left: 25px;
}

.container-contacto-2 h3{
    font-size: 24px;
    color: #2D2E33;
    margin-bottom: 40px;
}

.container-text-contacto{
    display: flex;
    margin-top: 25px;
}

.container-contacto-2 text{
    font-size: 16px;
    color: #6C6D74;
    font-weight: bold;
}

.container-inputs-contacto{
    width: 100%;
    display: flex;
    align-items: center;
}

.input-contacto{
    border-radius: 2px;
    color: #333;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid #CCC;
    padding: 0px 10px;
    height: 38px;
    line-height: 1.3;
    margin-top: 10px;
    margin-right: 10px;
}

.input-contacto:focus{
    outline: 0.5px solid #CCC;
}

.text-area-contacto{
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    font-size: 18px;
    font-family: inherit;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 120px;
    width: 83%;
    line-height: 1.3;
    margin-top: 10px;
}

.text-area-contacto:focus{
    outline: 0.5px solid #CCC;
}

.button-contacto{
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    font-family: inherit;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.button-contacto:hover{
    background-color: #e6dbdb;
}

@media (max-width: 1100px) {

    .container-contaco-1{
        width: 50%;
    }

    
    .container-contacto-2{
        width: 50%;
    }


}

@media (max-width: 1100px) {

    .container-contaco-1{
        margin-right: 0px;
    }

    
    .container-contacto-2{
        margin-left: 0px;
    }


}

@media (max-width: 950px) {

    .body-contacto{
        display: block;
    }

    .container-contaco-1{
       margin-bottom: 40px;
       margin-left: 15px;
    }

    
    .container-contacto-2{
        margin-bottom: 40px;
        margin-left: 15px;
    }

    .container-contaco-1{
        width: 90%;
    }

    
    .container-contacto-2{
        width: 90%;
    }

    .text-area-contacto{
      width: 425px;
    }

}

@media (max-width: 520px) {

    .container-contaco-1 h1{
        font-size: 32px;
     }
     
     .container-contaco-1 h3{
         font-size: 22px;
      }

      .container-contacto-2 h3{
        font-size: 22px;
    }

    .text-area-contacto{
        width: 93%;
      }

      .input-contacto{
        width: 93%;
    }

}